#trans-title {
    font-size: 50px;
    color: #8A7650;
    text-align: center;
}

#short-explanation {
    color: #507440;
    text-align: center;
    margin: 5px;
    margin-top: 50px;
    padding: 10px;
    border-bottom: black solid 5px;
    margin-bottom: 20px;
}

#explanation {
    display: flex;
    align-items: center;
    color: #507440;
    text-align: center;
    padding: 10px;
    width: 17%;
    background-color: #DBCEA5;
    border: #706a56 solid 5px;
}

#image-cont {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
}

#keyword {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 12px;
    background-color: #DBCEA5;
    border: #706a56 solid 5px;
    margin-top: 5px;
}

#word {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 12px;
    background-color: #DBCEA5;
    border: #706a56 solid 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#output {
    padding: 12px;
    background-color: white;
    border: #706a56 solid 5px;
    width: 10vw;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.row-cont {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: black solid 5px;
}

.radios {
    display: flex;
    justify-content: center;
    text-align: center;
}

.column-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ECE7D1;
}

img {
    height: 27vh;
    width: 20vw;
}

p {
    text-align: center;
    width: 20vw;
    color: #507440;
}